<div class="container">
    <div class="row">
        <div class="addEmployeeTitleContainer">
                <div>Add Employee Details</div>
            </div>
            <div class="addEmployeeBtnContainer">
                <div class="addNewEmployeeBtn" (click)="addNewEmployeeBtn()">Add +</div>
            </div>
            <div *ngIf="newEmployeeClicked">
                <div class="formWrapper">
                    <form>
                        <div class="form-group name">
                            <input type="text" class="form-control input" id="name" placeholder="Enter your name"
                                name="name" [(ngModel)]="model.name">
                        </div>
                        <div class="form-group position">
                            <input type="text" class="form-control input" id="position"
                                placeholder="Enter your position" name="position" [(ngModel)]="model.position">
                        </div>
                        <div class="submitBtnContainer">
                            <button type="submit" class="saveBtn" (click)="addEmployee()">Save</button>
                        </div>
                    </form>
                </div>
            <div class="tableWrapper">
                <div class="containerTitle">
                    <div class="oneTitle">Name</div>
                    <div class="twoTitle">Position</div>
                    <div class="threeTitle">Action</div>
                </div>
                <div class="containerListItems" *ngFor="let employee of employees; let i = index" [style.backgroung-color]="changeColorOne()">
                    <div class="one"> {{ employee.name }} </div>
                    <div class="two"> {{ employee.position }} </div>
                    <div class="three">
                        <button class="btn btn-primary" (click)="editEmployee(i)">Edit</button> &nbsp; &nbsp;
                        <button class="btn btn-danger" (click)="deleteEmployee(i)">Delete</button>
                    </div>
                </div>
            </div>
            <div class="editEmployeeTitleContainer">
                <div class="">Edit Employee</div>
            </div>
            <form>
                <div class="form-group name">
                    <input type="text" class="form-control" id="name" name="name" placeholder="Name Here" [(ngModel)]="model2.name">
                </div>
                <div class="form-group position">
                    <input type="text" class="form-control" id="position" name="position" placeholder="Position Here" [(ngModel)]="model2.position">
                </div>
                <div class="submitBtnContainer">
                    <button class="btn btn-dark" type="submit" (click)="updateEmployee()">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>